---
import type { PageType } from "../static/types/types"
import Metadata from "../components/meta/Metadata.astro"
import SchemaOrg from "../components/meta/SchemaOrg.astro"
import Preconnects from "../components/meta/Preconnects.astro"
import Favicons from "../components/headSection/favicon/Favicons.astro"
// import TrackTraffic from "../components/traffic/TrackTraffic.astro"
import Tabs from "../components/tabsSection/Tabs.astro"
import "../static/design/fontFamilies.css"

const TITLE = "Kushal Kumar Saha: Software Developer"
const props = Astro.props as PageType

// HEAD TAG DATA ------------------------------------------------
const PAGE_TITLE =  props.active === "about" ?          TITLE : 
                    props.active === "work" ?           `Projects - ${TITLE}` : 
                    props.active === "blog-article" ?   `${props.blogArticle} | Blogs - ${TITLE}` : 
                                                        `Blogs - ${TITLE}`

---

<!DOCTYPE html>
<html lang="en-us">
<head>
    <Metadata />
    <Preconnects active={props.active} />

    <!-- title -->
    <title>{PAGE_TITLE}</title>
    <Favicons />
    <SchemaOrg />
</head>
<body class="bg-neutral-950 text-white transition-all duration-500" >
    <Tabs active={props.active} />
    <slot />
    
    <!-- <TrackTraffic /> -->
</body>
</html>

<style is:global>
    * {
        border: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'modernOutfit', 'mongo', 'cambria', 'code', 'mongoItalic';
    }
    ::-webkit-scrollbar {
        background: transparent;
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background: #c4d6dd20;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff80;
    }
    *, html, body {
        scroll-behavior: smooth;
    }
</style>