---
import '@fontsource-variable/outfit'
import Layout from "../layouts/Layout.astro"
import Favicon16 from "../store/logo/favicon-16x16.png"
import Favicon32 from "../store/logo/favicon-32x32.png"
import Favicon96 from "../store/logo/favicon-96x96.png"
import FaviconIco from "../store/logo/kushal-favicon.ico"
const title = "Kushal Kumar: Portfolio"
---

<!doctype html>
<html lang="en" class="dark">
	<head>
        <!-- meta links -->
        <meta name="title" content="Kushal Kumar Saha Portfolio">
        <meta name="description" content="Myself Kushal Kumar Saha, this portfolio is for the HR and companies to showcase my skillsets as a software developer">
        <meta name="about" content="Kushal Kunar Saha Software Developer Portfolio">
        <meta name="keywords" content="portfolio, kushal, kushal kumar, kushal saha, kushal kumar saha, kushal portfolio, kushal kumar portfolio, kushal saha portfolio, kushal kumar saha portfolio, cv, resume, kushal resume, kushal kumar resume, kushal kumar saha resume, kushal cv, kushal kumar cv, kushal kumar saha cv, kushal professional, kushal software developer, kushal web developer, kushal automation devloper, website developer, full stack developer">
        <meta name="robots" content="index, follow">
        <meta name="robots" content="max-image-preview:large, noarchive" />
        <meta name="bingbot" content="nocache" />
        <meta property="og:title" content="Portfolio: Kushal Kumar Saha">
        <meta property="og:description" content="Myself Kushal Kumar Saha, this portfolio for the HR and companies to showcase my skillsets as a software developer">
        <meta property="og:image" content="https://portfolio.kushalkumarsaha.com/assets/imgs/banner/kushal_banner.png">
        <meta property="og:pdf" content="https://portfolio.kushalkumarsaha.com/assets/pdf/Kushal_Kumar_Saha-Full_Stack_Developer.pdf">
        <meta property="og:url" content="https://portfolio.kushalkumarsaha.com/">
        <meta property="og:type" content="profile">
        <meta property="profile:first_name" content="Kushal" />
        <meta property="profile:last_name" content="Kumar Saha" />
        <meta name="twitter:title" content="Kushal Kumar: Portfolio">
        <meta name="twitter:description" content="Kushal Kunar Saha Software Developer Portfolio">
        <meta name="twitter:image" content="https://portfolio.kushalkumarsaha.com/assets/imgs/banner/kushal_banner.png">
        <meta name="twitter:card" content="portfolio" />
        <meta name="twitter:site" content="@portfolio.kushalkumarsaha" />
        <meta name="linkedin:pageTag" content="openToProvider" />
        <meta name="revisit-after" content="7 days">
        <meta name="geo.region" content="+91">
        <meta name="geo.placename" content="Kolkata, West Bengal">
        <meta name="geo.position" content="25.2879° N, 83.0036° E">
        <meta name="referrer" content="no-referrer">
        <meta http-equiv="content-language" content="en-US">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="Cache-Control" content="max-age=3600">
        <meta name="locale" content="en_US" />
        <link rel="canonical" href="https://portfolio.kushalkumarsaha.com/">
        <meta property="al:android:url" content="https://portfolio.kushalkumarsaha.com/" />
        <meta property="al:ios:url" content="https://portfolio.kushalkumarsaha.com/" />

        <!-- sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- favicon -->
        <link rel="shortcut icon" href={FaviconIco} type="image/x-icon">
        <link rel="shortcut icon" href={Favicon16.src} type="image/x-icon">
        <link rel="shortcut icon" href={Favicon32.src} type="image/x-icon">
        <link rel="shortcut icon" href={Favicon96.src} type="image/x-icon">
        
		<title>{title}</title>

	</head>
	<body>
		<Layout />
	</body>
</html>


<style lang="scss" is:global>
    
    // light theme ----------------------------------
    $light-background-primary-color: #aaa;
    $light-background-secondary-color: #ddd;
    $light-background-accent-color: #27a;

    $light-text-primary-color: #121212;
    $light-text-secondary-color: #777;
    $light-text-accent-color: #27a;
    
    // dark theme ----------------------------------
    $dark-background-primary-color: #121212;
    $dark-background-secondary-color: #333;
    $dark-background-accent-color: #27a;

    $dark-text-primary-color: #eee;
    $dark-text-secondary-color: #666;
    $dark-text-accent-color: #27a;

    // mixins ---------------------------------------
    @mixin light-theme {
        --background-primary-color: #{$light-background-primary-color};
        --background-secondary-color: #{$light-background-secondary-color};
        --background-accent-color: #{$light-background-accent-color};
        
        --text-primary-color: #{$light-text-primary-color};
        --text-secondary-color: #{$light-text-secondary-color};
        --text-accent-color: #{$light-text-accent-color};

        --scrollbar-background-color: transparent;
        --scrollbar-active-accent-color: linear-gradient(67.5deg, #ea215d, #b03beb, #4d21ea);
        --scrollbar-inactive-accent-color: #fff1;
    }
    
    @mixin dark-theme {
        --background-primary-color: #{$dark-background-primary-color};
        --background-secondary-color: #{$dark-background-secondary-color};
        --background-accent-color: #{$dark-background-accent-color};
        
        --text-primary-color: #{$dark-text-primary-color};
        --text-secondary-color: #{$dark-text-secondary-color};
        --text-accent-color: #{$dark-text-accent-color};

        --scrollbar-background-color: transparent;
        --scrollbar-active-accent-color: linear-gradient(67.5deg, #ea215d, #b03beb, #4d21ea);
        --scrollbar-inactive-accent-color: #fff1;
    }
    
    // INITIALIZATION =======================================================
    html {
        &.light             { @include light-theme; }
        &.dark, .default    { @include dark-theme; }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar { 
        background: var(--scrollbar-background-color);
        width: 4px;
    }
    ::-webkit-scrollbar-thumb { 
        background: var(--scrollbar-inactive-accent-color);
        &:hover {
            background: var(--scrollbar-active-accent-color);
        }
    }

    body {
        background: var(--background-primary-color);
        color: var(--text-primary-color);
        min-height: 100dvh;
        font-family: 'Outfit Variable', sans-serif;
        position: relative;
        display: grid;
        grid-template-columns: 110px 1fr;
        overflow-x: hidden;

        @media (max-width:1300px) {
            max-width: 100%;;
        }

        @media (max-width:640px) {
            grid-template-columns: 1fr;
        }
    }

    .scrollbar-hide {
        &::-webkit-scrollbar { display: none; }
    }

</style>
