---
type EducationType = { institute: string, duration: { from: string, till: string }, qualification: string, score?: string }
const workExperiences: EducationType[] = [
    { institute: "St Xavier's College",  duration: { from: "2020", till: "2023" }, qualification: "B.Sc. CS", score: "8.6/10" },
    { institute: "Salt Lake Point School",  duration: { from: "2018", till: "2020" }, qualification: "ISC 95.0%" },
    { institute: "St Augustine's Day School",  duration: { from: "2007", till: "2018" }, qualification: "ICSE 92.4%" },
]
---

<div class="grid grid-cols-1 gap-x-14 gap-y-12 items-start justify-start">
    { workExperiences.map(({ institute, duration: { from, till }, qualification, score }) => (
        <div>
            <span class="text-2xl">{qualification} {score}</span>
            <h3 class="text-2xl">{institute}</h3>
            <span class="text-white/30 text-lg">{from} - {till}</span>
        </div>
    ))}
</div>